@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

body {
  margin: 0;
  background-color: #E5E5E5;
  color: #262626;
  font-family: "Play", sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
}

button {
  font-family: "Play", sans-serif;
  font-weight: normal;
  font-style: normal;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

a {
  color: #262626;
  font-family: "Play", sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}

.main-button {
  background-color: #3F97E7;
  color: white;
  font-size: 18px;
  text-align: center;
  padding: 12px 10px;
  border-radius: 5px;
  text-decoration: none;
}

::placeholder {
  font-family: "Play", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  color: #4B4B4B;
}

input[type="text"] {
  font-family: "Play", sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
}

p {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 32px;
  font-weight: bold;
}

h2 {
  font-size: 28px;
  font-weight: bold;
}

h3 {
  font-size: 20px;
  font-weight: bold;
}
