/*:root {
  --secondary-panel-color: #B3B3B3;
  --highlight-color: #3F97E7;
  --highlighted-p-color: #1678D2;
}*/

.book {
  width: 175px;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 15px;
}

.book-title {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.cover-stumb {
  background-color: var(--secondary-panel-color);
}

.books-scroller h2 {
  margin-bottom: 20px;
}

.book-page-promo {
  display: flex;
  flex-direction: column;
  width: 275px;
  gap: 25px;
}

.page-right {
  width: calc(100% - 275px);
}

.book-page-promo .cover-stumb {
  width: 275px;
  height: 388px;
  background-color: var(--secondary-panel-color);
}

.bool-page-formats {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.book-page-title h1 {
  margin-bottom: 12px;
}

.book-page-block h2 {
  margin-bottom: 12px;
}

.book-characterisctics li {
  margin: 0;
  margin-bottom: 8px;
}

.book-characterisctics li:last-child {
  margin-bottom: 0;
}

.book-pgae-rating {
  display: flex;
  gap: 20px;
  align-items: center;
}

.rating-and-review-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.rating-and-review-button button {
  width: 160px;
}

.rating-and-sort {
  margin-bottom: 30px;
}

.ordered-book .cover-stumb{
  width: 48px;
  height: 70px;
}

.ordered-book {
  display: flex;
  width: 100%;
  gap: 15px;
  margin-bottom: 15px;
}

.ordered-book:last-child {
  margin-bottom: 0;
}

.ordered-book-info { 
  width: 100%;
}

.ordered-book-info p {
  margin: 0;
  padding: 0;
  margin-bottom: 5px;  
}

.ordered-book-info p:last-child {
  margin-bottom: 0;
}

.empty-reviews-block {
  width: 100%;
}

.copy-amount {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.search-book:hover .main-p{
  color: var(--highlight-color);
}

.search-book:active .main-p{
  color: var(--highlighted-p-color);
}

.search-book:focus .main-p{
  color: var(--highlight-color);
}
