footer {
  padding: 50px 70px 30px 70px;
  background-color: #262626;
  color: #E5E5E5;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer-part {
  width: 400px;
}

footer .logo {
  padding-top: 46px;
}

.contacts-block {
  margin-bottom: 35px;
  margin-top: 35px;
}

.contacts {
  display: flex;
  gap: 20px;
  margin: 0;
  margin-top: 17px;
}

.partners {
  padding: 0;
  margin-top: 17px;
}

.partners li {
  margin-bottom: 14px;
}

.partners li:nth-last-child() {
  margin-bottom: 0px;
}

.footer-nav {
  margin-top: 17px;
}

.footer-nav li {
  margin-bottom: 14px;
}

.footer-nav li:nth-last-child() {
  margin-bottom: 0px;
}

footer a {
  color: #E5E5E5;
}
