/*:root {
  --bg-color: #E5E5E5;
  --text-color: #262626;
  --panels-color: #262626;
  --secondary-p-color: #4B4B4B;
  --highlight-color: #3F97E7;
  --highlighted-p-color: #1678D2;
  --p-color-on-highlight: #FFFFFF;
  --danger-color: #d21674;
  --secondary-panel-color: #B3B3B3;
  --p-color-on-panel: #E5E5E5;
  --tertiary-panel-color: #FFFFFF;
}*/

header {
  padding: 15px 5%;
  background-color: var(--panels-color);
  color: var(--p-color-on-highlight);
  display: flex;
  justify-content: space-between;
  margin: 0;
  width: 100%;
  align-items: center;
  margin-bottom: 50px;
  z-index: 1;
}

.catalog {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: var(--p-color-on-panel);
  font-size: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.search-panel {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 10px;
  width: 25%;
}

.search {
  width: 100%;
  background-color: var(--bg-color);
  height: 44px;
  display: flex;
  justify-content: space-between;
  padding: 10px 16px;
  border-radius: 5px;
}

.search input[type="text"] {
  color: var(--text-color);
}

.search input {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  width: 100%;
  height: 100%;
}

textarea:focus, input:focus{
  outline: none;
}

.search img {
  width: 28px;
}

.dropdown-header {
  width: 105px;
  text-align: center;
  color: var(--p-color-on-panel);
}

.dropdown-header .dropdown-toggle{
  min-width: 105px;
  background-color: transparent;
  color: var(--p-color-on-panel);
  font-size: 20px;
  text-align: center;
}

.dropdown-header .dropdown-toggle:hover {
  background-color: transparent;
}

.dropdown-header .dropdown-toggle:active {
  background-color: transparent;
}

.dropdown-header .dropdown-item {
  padding: 0;
}

.dropdown-item a {
  display: block;
  color: var(--dropdown-menu-p-color);
  font-size: 18px;
  height: 100%;
  padding: 4px 16px;
}

.dropdown-item a:hover {
  color: var(--p-color-on-panel);
  background-color: transparent;
  font-size: 18px;
}

.dropdown-item:hover {
  background-color: var(--highlight-color);
  color: var(--p-color-on-highlight);
  font-size: 18px;
}

.search-result {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  margin-top: 54px;
  background-color: var(--tertiary-panel-color);
  color: var(--text-color);
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  z-index: 2;
}
