header {
  padding: 15px 5%;
  background-color: #262626;
  color: #E5E5E5;
  display: flex;
  justify-content: space-between;
  margin: 0;
  width: 100%;
  align-items: center;
  margin-bottom: 50px;
}

.catalog {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: #E5E5E5;
  font-size: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.search {
  width: 25%;
  background-color: #E5E5E5;
  color: #262626;
  height: 44px;
  display: flex;
  justify-content: space-between;
  padding: 10px 16px;
  border-radius: 5px;
}

.search input {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  width: 100%;
  height: 100%;
}

textarea:focus, input:focus{
  outline: none;
}

.search img {
  width: 28px;
}
