/*:root {
  --bg-color: #E5E5E5;
  --text-color: #262626;
  --panels-color: #262626;
  --secondary-p-color: #4B4B4B;
  --highlight-color: #3F97E7;
  --highlighted-p-color: #1678D2;
  --p-color-on-highlight: #FFFFFF;
  --danger-color: #d21674;
  --secondary-panel-color: #B3B3B3;
  --p-color-on-panel: #E5E5E5;
  --tertiary-panel-color: #FFFFFF;
}*/

.carousel {
  width: 850px;
}

.carousel-control-prev, .carousel-control-next {
  opacity: 1;
  width: 70px;
}

.carousel-control-prev:hover {
  opacity: 0.75;
}

.carousel-control-next:hover {
  opacity: 0.75;
}

.carousel-indicators {
  gap: 20px;
  height: 20px;
  margin-bottom: 20px;
}

.carousel .carousel-indicators button {
  margin: 0;
  border: none;
  width: 20px;
  height: 20px;
  background-color: var(--secondary-panel-color);
  opacity: 1;
  border-radius: 5px;
}

.carousel .carousel-indicators .active {
  background-color: var(--highlight-color);
}

.carousel-caption {
  top: 50px;
  left: 70px;
  right: 70px;
  bottom: 50px;
  padding: 0;
  text-align: left;
}

.carousel h1 {
  margin-bottom: 50px;
}

.ads-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.side-ads-block {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.side-ads {
  width: 400px;
  height: 225px;
  background-color: var(--secondary-panel-color);
  border-radius: 5px;
  padding: 15px;
}

.theme-menu {
  padding-top: 35px;
  padding-bottom: 50px;
  background-color: var(--panels-color);
  margin-left: -5.555%;
  margin-right: -5.555%;
  padding-left: 5.45%;
  padding-right: 5.45%;
}

.theme-menu h2 {
  text-align: center;
  margin-bottom: 35px;
  color: var(--p-color-on-panel);
}

.theme-button {
  display: flex;
  flex-direction: column;
  width: 175px;
  height: 175px;
  background-color: var(--highlight-color);
  color: var(--p-color-on-highlight);
  border-radius: 5px;
  padding: 0;
  padding-bottom: 10px;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
}

.theme-button p {
  font-size: 20px;
  margin: 0;
}

.ads-a {
  color: var(--p-color-on-highlight);
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.side-ads h3 {
  color: var(--p-color-on-highlight);
}

.carousel-bg {
  border-radius: 5px;;
}
