/*:root {
  --bg-color: #E5E5E5;
  --text-color: #262626;
  --panels-color: #262626;
  --secondary-p-color: #4B4B4B;
  --highlight-color: #3F97E7;
  --highlighted-p-color: #1678D2;
  --p-color-on-highlight: #FFFFFF;
  --danger-color: #d21674;
  --secondary-panel-color: #B3B3B3;
  --p-color-on-panel: #E5E5E5;
  --tertiary-panel-color: #FFFFFF;
  --image-bg-color: #4B4B4B;
}*/

.roadmap {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.roadmap-node {
  display: flex;
  flex-direction: column;
}

.roadmap-node-books {
  display: flex;
  flex-direction: row;
  gap: 130px;
  margin: 0 auto;
}

.node-branch {
  margin: 0 auto;
}

.node-book { 
  display: block;
  min-width: 80px;
  max-width: min-content;
  min-height: 122px;
  max-height: min-content; 
  padding: 10px;
  padding-top: 7px;
  background-color: var(--panels-color);
  color: var(--p-color-on-panel);
  border-radius: 5px;
  text-align: center;
  position: relative;
}

.active-node {
  background-color: var(--highlight-color);
  color: var(--p-color-on-highlight);
} 

.node-book p {
  margin-bottom: 5px;
  line-height: 120%;
}

.node-book .cover-stumb {
  width: 60px;
  height: 84px;
  background-color: var(--secondary-panel-color);
  margin: 0 auto;
}

.book-panel {
  position: sticky;
  top: 0;
  padding: 20px 80px;
  width: 400px;
  align-self: flex-start;
  overflow-y: auto;
}

.book-panel-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.book-panel .cover-stumb {
  width: 100%;
  height: 324px;
}

.book-panel .chosen-book-description {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.roadmap-block {
  width: 850px;
  text-align: center;
}

.roadmap-block h1 {
  margin-bottom: 30px;
}

.node-star {
  position: absolute;
  top: -17px;
  right: -15px;
}
