.h-scroller {
  position: relative;
}

.h-scroller-container {
  overflow-x: hidden;
  scroll-behavior: smooth;
  width: 100%;
}

.h-scroller-inner-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.scroller-button {
  position: absolute;
  padding: 0;
}

.h-scroller-left {
  left: -18px;
}

.h-scroller-right {
  right: -18px;
}

.dropdown-toggle {
  background-color: #262626;
  border: none;
  border-radius: 5px;
  padding: 10px;
  min-width: 240px;
  text-align: left;
  font-size: 18px;
  color: #E5E5E5;
}

.dropdown-toggle:hover {
  background-color: #3F97E7;
}

.dropdown-menu {
  background-color: #262626;
  border: none;
  border-radius: 5px;
  height: 44px;
  min-width: 240px;
}

.dropdown-item {
  color: #E5E5E5;
  background-color: #262626;
  font-size: 18px;
}

.dropdown-item:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.dropdown-item .active {
  background-color: #3F97E7;
  color: #FFFFFF;
}

.dropdown-item:hover {
  background-color: #3F97E7;
  color: #E5E5E5;
  font-size: 18px;
}

.close-button {
  min-width: 0;
  min-height: 0;
  padding: 0;
  width: 45px;
  height: 45px;
  align-items: center;
}

.close-button img {
  display: block;
  margin: 0 auto;
}

.separated-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 400px;
  margin: 0 auto;
}

.separated-form h2 {
  text-align: center;
}

.map-stub {
  width: 400px;
  height: 400px;
  background-color: #B3B3B3;
  border-radius: 5px;
}

.separated-form .buttons-group {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.form-field h3 {
  margin-bottom: 8px;
}

.form-field {
  width: 100%;
}

.form-field input[type="text"], input[type="email"], input[type="tel"], input[type="date"], input[type="number"] {
  width: 100%;
  height: 44px;
  padding: 11px;
  background-color: #262626;
  color: #E5E5E5;
  border: none;
  border-radius: 5px;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.form-field textarea {
  width: 100%;
  height: 132px;
  padding: 11px;
  background-color: #262626;
  color: #E5E5E5;
  border: none;
  border-radius: 5px;
}

.form-field .dropdown-toggle {
  background-color: #262626;
  width: 100%;
  overflow-x: hidden;
}

.form-field .dropdown-menu {
  width: 100%;
}

.form-field ::placeholder {
  color: #E5E5E5;
}

.slider {
  height: 20px;
  width: 100%;
}

.slider-thumb {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: #3F97E7;
}

.slider-thumb:focus-visible {
  outline: none;
}

.slider-track {
  height: 4px;
  background-color: #262626;
  top: 8px;
}

.slider-track-0 {
  background-color: #3F97E7;
}

.dual-slider {
  height: 20px;
}

.dual-slider-thumb {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: #3F97E7;
}

.dual-slider-thumb:focus-visible {
  outline: none;
}

.dual-slider-track {
  height: 4px;
  background-color: #262626;
  top: 8px;
}

.dual-slider-track-1 {
  background-color: #3F97E7;
}

.image-field {
  width: 100%;
  padding-top: 100%;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}

.image-field-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 35%;
  text-align: center;
  transition: 300ms opacity;
}

.image-field-icon:hover {
  transition: 300ms opacity;
}

.image-field input[type="file"] {
  display: none;
}

.image-field-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #262626;
  opacity: 0;
  transition: 300ms opacity;
}

.image-field-input:hover {
  opacity: 0.25;
  transition: 300ms opacity;
}

.field-avatar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.avatar-editor {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.rotation-buttons {
  width: 100%;
  display: flex;
  gap: 50px;
}

.rotation-button {
  min-width: 0;
  min-height: 0;
  padding: 0;
  width: 46px;
  height: 46px;
  align-items: center;
}

.rotation-button img {
  display: block;
  margin: 0 auto;
}

.rotation-reversed {
  transform: scaleX(-1);
}

.range-field {
  display: flex;
  justify-content: space-between;
}

.range-field h3 {
  width: 20%;
  margin: 0;
}

.form-field .slider {
  margin: auto 0;
}
