.h-scroller {
  position: relative;
}

.h-scroller-container {
  overflow-x: hidden;
  scroll-behavior: smooth;
  width: 100%;
}

.h-scroller-inner-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.scroller-button {
  position: absolute;
  padding: 0;
}

.h-scroller-left {
  left: -18px;
}

.h-scroller-right {
  right: -18px;
}

.dropdown-toggle {
  background-color: #262626;
  border: none;
  border-radius: 5px;
  padding: 10px;
  min-width: 240px;
  text-align: left;
  font-size: 18px;
  color: #E5E5E5;
}

.dropdown-toggle:hover {
  background-color: #3F97E7;
}

.dropdown-menu {
  background-color: #262626;
  border: none;
  border-radius: 5px;
  height: 44px;
  min-width: 240px;
}

.dropdown-item {
  color: #E5E5E5;
  background-color: #262626;
  font-size: 18px;
}

.dropdown-item:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.dropdown-item .active {
  background-color: #3F97E7;
  color: #FFFFFF;
}

.dropdown-item:hover {
  background-color: #3F97E7;
  color: #E5E5E5;
  font-size: 18px;
}
